* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: linear-gradient(to left, #525252, #807efc);

}

a {
    text-decoration: none;
    border: 1px solid #0401cf;
    background-color: #00e3f3;
    color: #000;
    font-family: sans-serif;
    font-size: 2rem;
    margin: 0 auto;
    align-items: center;
    border-radius: 4px;

}

.contenedor {
    text-align: center;
}

.boton {
    background-color: #000;
    color: #fff;

}

.edit {
    text-transform: uppercase;
    color: #000;
    background: #e5ff00;
    border: none;
    margin-right: 1rem;
    border-radius: 4px;
}

.delete {
    text-transform: uppercase;
    color: #000;
    border-radius: 4px;
    background: #00ffff;
    border: none;
    margin-right: 1rem;
}

.done {
    text-transform: uppercase;
    border: none;
    margin-right: 1rem;
    border-radius: 4px;
    background: #f700ff;
}

input {
    border-radius: 8px;
    border: none;
    width: 18rem;
    height: 3rem;
    color: #000;
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
background: linear-gradient(to right, #9bd2ff, #4b496d);
}

#contenedor_input {
    background: linear-gradient(to right,  #525252, #807efc);
    color: #fff;
    text-align: center;
    gap: 2rem;
}

#uCorreo {
    font-size: 2rem;
    height: 3rem;
    padding: 0 auto;
    width: 15rem;
    margin: 0 auto;
    border: 2px solid #005397;
    border-radius: 5px;
    margin-top: 5rem;
}

.cerrar {
    margin-top: 3rem;
    text-align: center;
}